<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="nesreca_show_modal_content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" th:text="${#temporals.format(nesreca.vrijemePrimitka, 'dd.MM.yyyy HH:mm')}">Datum</h4>
    </div>
    <div class="modal-body">
        <div class="card border-primary">
            <div class="card-body">
                <blockquote class="card-blockquote">
                    <span>OIB:</span><p th:text="${nesreca.oib}"></p>
                    <span>Ime:</span><p th:text="${nesreca.ime}"></p>
                    <span>Prezime:</span><p th:text="${nesreca.prezime}"></p>
                    <span>Broj mobitela:</span><p id="brojMobitela" th:text="${nesreca.brojMobitela}"></p>
                    <span>Vrijeme primitka:</span><p th:text="${#temporals.format(nesreca.vrijemePrimitka, 'dd.MM.yyyy HH:mm')}"></p>
                </blockquote>
            </div>

            <input type="hidden" id="xKoordinata" th:value="${nesreca.x}" />
            <input type="hidden" id="yKoordinata" th:value="${nesreca.y}" />

            <div>
                <h4>Opis nesrece:</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Koeficijent</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="opis : ${nesreca.opisiNesrece}">
                        <td th:text="${opis.naziv}">Naziv</td>
                        <td th:text="${opis.koeficijent}">URL</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="map" class="row" style="height:400px"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" th:onclick="'sendPushNofitication(' + ${nesreca.idPoziva} + ');'">Pošalji notifkaciju</button>
        <button type="button" class="btn btn-default" th:onclick="'oznaciKaoRijeseno(' + ${nesreca.idPoziva} + ');'">Označi kao riješeno</button>
        <button type="button" class="btn btn-default" th:onclick="'urediPodatke(' + ${nesreca.idPoziva} + ');'">Uredi podatke</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="Zatvori">Zatvori</button>
    </div>
</div>

<div th:fragment="nesreca_edit_modal_content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" th:text="${#temporals.format(nesreca.vrijemePrimitka, 'dd.MM.yyyy HH:mm')}">Datum</h4>
    </div>
    <div class="modal-body">
        <div class="card border-primary">
            <div class="card-body">
                <blockquote class="card-blockquote">
                    <span>OIB:</span><p th:text="${nesreca.oib}"></p>
                    <span>Ime:</span><p th:text="${nesreca.ime}"></p>
                    <span>Prezime:</span><p th:text="${nesreca.prezime}"></p>
                    <span>Broj mobitela:</span><p id="brojMobitela" th:text="${nesreca.brojMobitela}"></p>
                    <span>Vrijeme primitka:</span><p th:text="${#temporals.format(nesreca.vrijemePrimitka, 'dd.MM.yyyy HH:mm')}"></p>
                </blockquote>
            </div>
            <input type="hidden" id="xKoordinata" th:value="${nesreca.x}" />
            <input type="hidden" id="yKoordinata" th:value="${nesreca.y}" />
            <input type="hidden" id="idPoziva" th:value="${nesreca.idPoziva}" />
            <div>
                <h4>Opis nesreće:</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Uvijet</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="opis : ${nesreca.sviOpisiNesrece}">
                        <td th:text="${opis.naziv}">Naziv</td>
                        <td><input type="checkbox" name="odabraniOpisNesrece" th:value="${opis.id}"
                                   th:checked="${#lists.contains(nesreca.opisiNesrece, opis)}"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" th:onclick="'sendPushNofitication(' + ${nesreca.idPoziva} + ');'">Pošalji notifkaciju</button>
        <button type="button" class="btn btn-default" th:onclick="'oznaciKaoRijeseno(' + ${nesreca.idPoziva} + ');'">Označi kao riješeno</button>
        <button type="button" class="btn btn-default" th:onclick="'pohraniUredenuNesrecu(' + ${nesreca.idPoziva} + ');'">Pohrani podatke</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="Zatvori">Zatvori</button>
    </div>
</div>


<div th:fragment="nesreca_table">
    <table id="nesreceTable" class="table">
        <thead>
        <tr>
            <th>OIB</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Broj mobitela</th>
            <th>Vrijeme primitka</th>
            <th>Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nesreca : ${nesrece}">
            <td th:text="${nesreca.oib}">Oib</td>
            <td th:text="${nesreca.ime}">Ime</td>
            <td th:text="${nesreca.prezime}">Prezime</td>
            <td th:text="${nesreca.brojMobitela}">Broj mobitela</td>
            <td th:text="${#temporals.format(nesreca.vrijemePrimitka, 'dd.MM.yyyy HH:mm')}">Vrijeme primitka</td>
            <td><button class="btn btn-secondary" th:onclick="'showDetails(' + ${nesreca.idPoziva} + ');'" th:text="Detalji">Detalji</button></td>
        </tr>
        </tbody>
    </table>
</div>

</html>